<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Review Đồ ăn</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/Assets/admin/dist/modules/summernote/summernote-lite.css">
    <link rel="stylesheet" href="~/Content/css/base3.css">
    <link rel="stylesheet" href="~/Content/css/vendor.css">
    <link rel="stylesheet" href="~/Content/css/main2.css">
    <link rel="stylesheet" href="/Assets/admin/dist/modules/toastr/build/toastr.min.css">
    <!-- script
    ================================================== -->
    <script src="~/Scripts/js/modernizr.js"></script>
    <!-- favicons
    ================================================== -->
    @*<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">*@
    @*<link rel="icon" href="favicon.ico" type="image/x-icon">*@




</head>

<style>
    header__search-trigger hide-content header__overlay-close search-submit header__overlay-close .search-is-visible .header__search {
        all: initial;
    }
    .header__search {
        display: block;
        text-align: center;
        background-color: #FFFFFF;
        opacity: 0;
        visibility: hidden;
        position: fixed;
        top: 0px;
        left: 1270px;
        width: 33%;
        height: 40%;
    }
  
</style>

<body id="top">

    <script>!function (s, u, b, i, z) { var o, t, r, y; s[i] || (s._sbzaccid = z, s[i] = function () { s[i].q.push(arguments) }, s[i].q = [], s[i]("setAccount", z), r = ["widget.subiz.net", "storage.googleapis" + (t = ".com"), "app.sbz.workers.dev", i + "a" + (o = function (k, t) { var n = t <= 6 ? 5 : o(k, t - 1) + o(k, t - 3); return k !== t ? n : n.toString(32) })(20, 20) + t, i + "b" + o(30, 30) + t, i + "c" + o(40, 40) + t], (y = function (k) { var t, n; s._subiz_init_2094850928430 || r[k] && (t = u.createElement(b), n = u.getElementsByTagName(b)[0], t.async = 1, t.src = "https://" + r[k] + "/sbz/app.js?accid=" + z, n.parentNode.insertBefore(t, n), setTimeout(y, 2e3, k + 1)) })(0)) }(window, document, "script", "subiz", "acrrpikjmlxjaudfzgkn");</script>

    <header class="s-header header">
        <div class="header__logo">
            <a class="logo" href="/">REVIEWFOOD</a>
        </div>

        <!-- end header__logo -->
        <a class="header__search-trigger" href="#0"></a>
        <div class="header__search">
            <form role="search" method="get" class="header__search-form" action="/BaiViet/Search">
                <label>
                    @*<span class="hide-content">Search for:</span>*@

                    <input type="search" class="search-field" placeholder="Keywords" value="" name="keywork" title="" autocomplete="off">
                </label>
                <input type="submit" class="search-submit" value="Search">
            </form>
            <a href="#0" title="Close Search" class="header__overlay-close">Close</a>

        </div>

        <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>
        @{ Html.RenderAction("MenuView", "Home"); }

    </header>

    @RenderBody()




























    <!-- Java Script
    ================================================== -->
    <script src="/Assets/admin/dist/modules/summernote/summernote-lite.js"></script>
    <script src="~/Scripts/js/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/js/plugins.js"></script>
    <script src="~/Scripts/js/main.js"></script>
    <script src="/Assets/admin/dist/modules/toastr/build/toastr.min.js"></script>
    @RenderSection("Scripts", required: false)


</body>

</html>