@model ReviewFood.Models.DanhMuc

@{
    ViewBag.Title = "Delete";
    ViewData["TitleHeader"] = "Xoa Danh mục";
}



<div>
    <hr />
    <h4 class="delete-title">
        Delete Tên Danh Mục :
        <span class="ten-dm">
            @Html.DisplayFor(model => model.TenDanhMuc)
           
        </span>
        <br />
        <br />
        Ngày tạo  :
        <span class="ten-dm">
            @Html.DisplayFor(model => model.NgayTao)
        </span>
    </h4>

    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Quay về", "Index")
        </div>
    }
</div>

<style>
    .ten-dm {
        color: red;
    }
</style>